discord.py==2.4
beautifulsoup4==4.10.0
bs4==0.0.1
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus
dnspython==1.16.0
humanfriendly==9.2
motor==3.1.1
python-dotenv
psutil
Pillow==10.0.1
chat_exporter_tgk_fork @ git+https://github.com/Jay24004/DiscordChatExporterPy
unidecode
stringcase
colour==0.1.5
bcrypt==4.0.1
pandas==2.0.3